header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  margin-left: 20px;
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.personal-link {
  margin-right: 20px;
  float: right;
}

.personal-link a {
  color: #333;
  font-weight: bold;
  font-size: 16px;
}